body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffc86a; /* light gray */
    line-height: 1.6;
}

h1 {
    color: #7522f1;
}

label {
    font-weight: bold;
}

select {
    margin: 10px 0;
}
